.header {
  width: 100%;
  height: max-content;
}
.header_container {
  width: 100%;
  height: max-content;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_items {
  display: flex;
  flex-direction: row;
}
.logo {
  display: flex;
  margin-left: 80px;
  height: 55px;
  width: 165px;
  color: #0077b6;
  align-items: center;
  font-size: 25px;
}
.logo span {
  color: black;
}
.beta {
  font-size: 13px;
  padding: 6px 15px;
  margin: 5px;
  color: #acafac;
  border-radius: 10px;
  background-color: #ededed;
}

.header_items {
  position: absolute;
  right: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Cera Round Pro DEMO MEDIUM" !important;
}
.header_items :nth-child(1) {
  color: black;
  font-size: 16px;
  height: fit-content;
  cursor: pointer;
  margin-right: 8px;
  line-height: 1.75rem;
  padding: 8px 18px;
  border-radius: 16px;
  font-weight: 900;
}
.header_items :nth-child(1):hover {
  color: #0077b6;
}

.header_items :nth-child(2) {
  color: black;
  font-size: 16px;
  height: fit-content;
  cursor: pointer;
  margin-right: 8px;
  line-height: 1.75rem;
  padding: 8px 18px;
  border-radius: 16px;
  font-weight: 900;
}
.header_items :nth-child(2):hover {
  color: #0077b6;
}
.header_items :nth-child(3) {
  color: black;
  font-size: 16px;
  height: fit-content;
  cursor: pointer;
  margin-right: 8px;
  line-height: 1.75rem;
  padding: 8px 18px;
  border-radius: 16px;
  font-weight: 900;
  border: 2px solid #0077b6;
}
.header_items :nth-child(3):hover {
  color: black;
}

.header_items :nth-child(4) {
  color: black;
  font-size: 16px;
  height: fit-content;
  cursor: pointer;
  margin-right: 8px;
  line-height: 1.75rem;
  padding: 8px 18px;
  border-radius: 16px;
  font-weight: 900;
  color: rgba(69, 86, 96, 0.796);
  background-color: #0076b661;
  border: 2px solid #00588817;
}
.header_items :nth-child(4):hover {
  border: 2px solid #0077b6;
  background-color: #0077b6;
  color: white;
}

.header_items :nth-child(5) {
  color: white;

  font-size: 16px;
  height: fit-content;
  cursor: pointer;
  margin-right: 8px;
  line-height: 1.75rem;
  padding: 8px 18px;
  border-radius: 16px;
  font-weight: 900;
  background-color: #0077b6;
}
.medium_header {
  display: none;
}
@media (max-width: 1000px) {
  .header_container {
    display: none;
  }
  .medium_header {
    width: 100%;
    height: max-content;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .medium_screen_logo {
    display: block;
    display: flex;
    margin-left: 5%;
    height: 55px;
    width: 165px;
    color: #0077b6;
    align-items: center;
    font-size: 25px;
    /* padding-top: 5%; */
  }
  .medium_screen_logo span {
    color: black;
  }

  .menu-bar {
    position: absolute;
    display: flex;
    right: 40px;
    cursor: pointer;
    flex-direction: column;
    cursor: pointer;
    z-index: 9;
    background-color: #0077b6;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    /* margin-right: 5%; */
    height: 40px;
    width: 40px;
  }
  .sidebar {
    display: none;
    width: 500px;
    height: 500px;
    background-color: grey;
    /* animation: sidebar 0.4s ease-in forwards; */
    color: #000;
    font-size: 20px;
    /* height: 100vh; */
    /* max-width: 450px; */
    /* position: fixed; */
    right: -100%;
    width: 85%;
    z-index: 2;
  }

  .line1 {
    height: 3px;
    width: 20px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: 0.3s ease;
  }

  .line2 {
    height: 3px;
    width: 20px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: 0.3s ease;
  }

  .line3 {
    height: 3px;
    width: 20px;
    background-color: #fff;
    transition: 0.3s ease;
  }
  .open-1 {
    margin-bottom: -3px;
    rotate: -45deg;
  }
  .open-2 {
    margin-bottom: -3px;
    opacity: 0;
  }
  .open-3 {
    transform-origin: center;
    rotate: 45deg;
  }
}
