.full_header {
  background-image: url("./Images/background.png");
}

.App {
  position: relative;
  overflow-x: hidden;
}

.dropdown-container {
  margin-top: 30px;
}

.background-svg {
  position: absolute;
  top: 0%;
  z-index: -1;
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
}

.wishlist_btn {
  padding: 6px 12px;
  background-color: transparent;
  border: 1px #d7d7d7 solid;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.wishlist_btn img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.wishlist_btn:hover {
  background-color: #ffb223;
  color: white;
  border: none;
}
